:root {
    // Fonts
    --font-body: "Gotham Book";
    --font-heading: "Gotham Regular";
    --font-medium: "Gotham Medium";

    // Generals
    --transition: all 0.3s ease-in-out;

    // Colors
    --primary: #393c41;
    --black: #000;
    --white: #fff;
    --dark-grey: #171a20;
}